.theme-color, .intro-content h2 span, a.site-btn:hover, .site-btn:hover, .social a:hover, .cd-item span, .service-item i, .con-icon i {
  color: #7b3838; }

.theme-bg, a.site-btn, .site-btn, a.site-btn:focus, .site-btn:focus, .subscribe-area h2, .subform .subform-btn, .switch span, .switch.active span, #contact-form button {
  background: #000; }

.theme-border, .con-icon {
  border-color:#fff !important; }


  